name: Build APK
on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '17'
    - uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.24.5'
    - run: flutter pub get
    - run: flutter build apk --release --split-per-abi
    - uses: actions/upload-artifact@v4
      with:
        name: swiftconquer-apk
        path: build/app/outputs/flutter-apk/*.apk
